[flake8]
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset} ${red_bold}%(code)s${reset} %(text)s
max-line-length = 120

ignore =
    E731  # do not assign a lambda expression

# E - errors
# W - warnrings
# F - pyflakes
# D - flake8-deprecated
# I - flake8-import-order
# N - pep8-naming
# M - flake8-mutable
select = C90, E, W, F, D, I, N, M

# flake8-import-order configs
application-package-names = smarkets
